<h1 class="logo">Try On</h1>
<p>欲しい商品で試着可能店舗を検索</p>


<!-- Googleマップ表示エリア(地図を表示) -->
<div id="map"></div>

<!-- Googleマップ表示用の Javascript -->
<script>
  function initMap(){
    geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
    });
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>