<div class="wrapper">
  <%# side-menu %>
  <%= render partial: 'side_menu' %>
  <%# side-menu %>

  <div class="right-wrapper">
    <div class="main">
      <div class="main-header">
        <div class="page-title">商品内容を更新</div>

        <%# To add item %>
        <%= render partial: 'item_form', locals: { item: @item } %>
        <div class="required">※全ての項目が入力必須です</div>
        <%# To add item %>
      </div>
      <%# main header %>

      <%# item list %>
      <div class="list-wrapper">
        <%= render partial: 'item_list', locals: { items: @items } %>
      </div>
      <%# item list %>
    
    </div>
  </div>
</div>
