<div class="wrapper">
  <%# side-menu %>
  <%= render partial: 'side_menu' %>
  <%# side-menu %>
  <div class="right-wrapper">
    <div class="main">
      <div class="main-header">
        <div class="page-title">在庫一覧</div>

        <%# To add item %>
        <div><%= link_to "商品を登録",  new_store_item_path(current_user.store_id), class: "add-item-btn", id: "add-btn" %></div>
        <%# To add item %>
      </div>
      <%# main header %>

      <%# item list %>
      <div class="list-wrapper">
        <%= render partial: 'item_list', locals: { items: @items } %>
      </div>
      <%# item list %>
    
    </div>
  </div>
</div>
