<div class="wrapper">
  <%# side-menu %>
  <%= render partial: 'side_menu' %>
  <%# side-menu %>
  <div class="right-wrapper">
    <div class="main">
      <div class="main-header">
        <div class="page-title">在庫一覧</div>
        <% if user_signed_in? %>
        <%= current_user.last_name %>
        <% end %>
        <%# To add item %>

        <%# To add item %>
      </div>
      <%# main header %>

      <%# item list %>
      <div class="list-wrapper">
        <%= render partial: 'item_list', locals: { items: @items } %>
      </div>
      <%# item list %>
    
    </div>
  </div>
</div>
