
<div class="bg">
  <div class="register-wrapper">
    <div><%= link_to '<', root_path, class: "go-back" %></div>
    <div class="add-item-block">
      <div class="page-title mb40">商品を登録</div>
      <%= render partial: 'item_form', locals: { item: @item } %>
    </div>
  </div>
</div>