* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}


.wrapper {
  display: flex;
  height: 100vh;
}

.right-wrapper {
  background-color: #E9EBEE;
  overflow: auto;
}
/* common */
.hidden {
  display: none;
}

.page-title {
  font-size: 20px;
  font-weight: 700;
  color: #616771;
}

.mb40 {
  margin-bottom: 40px;
}

.error-block {
  margin-bottom: 28px;
}

.error-message {
  color: #F05A62;
  margin-bottom: 10px;
}
/* common */

/* side-menu */
.side-menu {
  background-color: #fff;
  width: 160px;
  padding: 28px 20px 0px;
  position: relative;
  z-index: 1;
  box-shadow: 8px 0px 7px -7px rgba(0, 0, 0, 0.3);
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  color: #4267B3;
  display: inline-block;
  margin-bottom: 48px;
}

.menu-item {
  color: #616771;
  display: inline-block;
  margin-bottom: 28px;
}

.main-feature {
  margin-bottom: 24px;
  border-bottom: solid 1px #d3d3d3;
}

.san {
  color: #616771;
}
/* side-menu */



.user-name {
  color: #616771;
}

/* main */
.main {
  width: calc(100vw - 160px);
  padding: 28px 28px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}



.list-wrapper {
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
}

.list-header {
  display: flex;
  margin-bottom: 14px;
  padding-bottom: 10px;
  border-bottom: solid 1px #E9EBEE;
}

.list-title {
  width: 25%;
  color: #90949C;
}

.item-list {
  display: flex;
}

.item {
  width: 25%;
  padding: 14px 0;
  font-size: 12px;
  color: #616771;
}

.action-btn {
  display: flex;
  width: 25%;
}

.action-btn div {
  padding: 14px 0;
}

.edit {
  margin-right: 20px;
  color: #4267B3;
}

.delete {
  color: #F05A62;
}
/* main */


/* form common */
.bg {
  background-color: #E9EBEE;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.register-wrapper {
  width: 480px;
  margin: 0 auto;
  padding: 64px 0;
}

.go-back {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #4267B3;
  display: inline-block;
}

.register-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.account-btn {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #4267B3;
  display: inline-block;
}
/* form common */



/* button common */

.submit-btn {
  text-align: right;
}

.cancel-btn {
  color: #616771;
  margin-right: 14px;
}

.register-btn {
  display: inline-block;
  width: 96px;
  height: 42px;
  padding: 14px 0;
  text-align: center;
  color: #fff;
  background-color: #4267B3;
  border-radius: 42px;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* button common */


/* add-item */
.add-item-block {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  padding: 48px 56px;
}

.form-item {
  margin-bottom: 24px;
}

.form-title {
  display: inline-block;
  margin-bottom: 10px;
  color: #616771;
}

.field {
  background-color: #fff;
  width: 100%;
  height: 36px;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: solid 1px #d3d3d3;
  padding: 8px;
}

input[type="password"]::placeholder {
  color: #dcdcdc; /* 好きな色に変更 */
}

.select-box {
  background-color: #fff;
  font-size: 16px;
  width: 48px;
  height: 36px;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: solid 1px #dcdcdc;
  padding: 4px;
  text-align: center;
}

.submit-btn {
  text-align: right;
}

.cancel-btn {
  color: #616771;
  margin-right: 14px;
}

.add-item-btn {
  display: inline-block;
  width: 96px;
  height: 42px;
  padding: 14px 0;
  text-align: center;
  color: #fff;
  background-color: #4267B3;
  border-radius: 42px;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.required {
  font-size: 12px;
  color: #F05A62;
}

/* search-inventory */
.search {
  background-color: #f8f8f8;
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  margin-bottom: 28px;
}
.search-inventory-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  margin-bottom: 14px;
}

.search-title{
  font-size: 16px;
  color: #616771;
  margin-bottom: 24px;
}

.search-inventory-item {
  margin-right: 20px;
}

.search-inventory-item label {
  display: block;
  color: #90949C;
  margin-bottom: 10px;
}

.search-field-inventory {
  background-color: #fff;
  height: 36px;
  width: 200px;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: solid 1px #d3d3d3;
  padding: 8px;
}

.search-field-inventory span {
  color: #90949C;
  text-align: right;
}

.search-inventory-message {
  font-size: 12px;
  color: #90949C;
}
/* search-inventory */

/* add-item */


/* register store */
.register-block {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  padding: 48px 56px;
}
/* register store */


/* consumer screen */
.shopper-screen {
  padding: 24px 24px;
}

.logo {
  font-size: 28px;
  margin-bottom: 28px;
}

.title {
  color: #616771;
  font-size: 16px;
  margin-bottom: 12px;
}

.title span {
  font-weight: 600;
}

.search-field {
background-color: #fff;
width: 40vw;
height: 48px;
box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
border-radius: 5px;
border: solid 1px #d3d3d3;
padding: 8px;
margin-bottom: 24px;
}

.search-field::placeholder {
  color: #90949C; 
}

.category-field {
  width: 240px;
  margin-right: 14px;
}

.search-btn {
  width: 72px;
  height: 42px;
  padding: 14px 0;
  text-align: center;
  color: #fff;
  background-color: #4267B3;
  border-radius: 42px;
  box-shadow: 0px 5px 16px -10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.warning-message {
  font-size: 12px;
  color: #90949C;
  margin-bottom: 20px;
  line-height: 1.5;
}
/* consumer screen */


/* footer */
.footer {
  font-size: 12px;
  color: #90949C;
  text-align: center;
  margin-top: 40px;
}

/* footer */


@media screen and (max-width: 500px) {
  .shopper-screen {
    padding: 24px 10px;
  }
  .logo {
    font-size: 36px;
  }
  .search-field {
    width: 70vw;
    margin-right: 10px;
  }
}